<template>
  <div>
    <h2>Termine</h2>
    <Event
      v-for="(item, key) in getPublished(events)"
      :key="key"
      :item="item"
    />
    <div v-if="!getPublished(events).length">
      Im Moment gibt es keine Termine
    </div>
  </div>
</template>

<script>
import Event from '~/components/Event.vue'

export default {
  components: {
    Event
  },
  props: {
    events: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    getPublished(list) {
      return list.filter((item) => item.published === true)
    }
  }
}
</script>
