<template>
  <section class="Event">
    <div class="Event-title">{{ item.title }}</div>
    <div
      v-if="item.description"
      v-html="$md.render(item.description)"
      class="Event-description"
    ></div>
  </section>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss">
.Event {
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1em;

  a {
    text-decoration: underline;
  }

  &-title {
    font-weight: bold;
  }
}
</style>
