<template>
  <div id="contact">
    <h2>Kontakt</h2>
    <div itemscope itemtype="http://schema.org/Organisation">
      <div itemprop="email">
        <a href="mailto:kontakt@klimaznacht.ch">kontakt@klimaznacht.ch</a>
      </div>

      <div class="credits">
        Created by
        <a href="https://santihans.com" rel="noopener" target="_blank"
          >SANTiHANS</a
        >
        in Basel.
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
#contact {
  .credits {
    font-size: 0.8rem;
    margin-top: 5rem;
    opacity: 0.5;
  }
}
</style>
